<!--//Kokila Sangilimuthu (Project Manager)- 301151291  
//Morris Zuniga (Lead Software Engineer)- 822704615  
//Ece Irem Burgaz (Web Designer) - 301162609  
//RahulKumar Jiskeshbhai Makwana (UI Programmer) - 301183901  
//Guillermo Garcia Romero - (Database Programmer) 301130333  
//Orlino Pacioles Jr (Generalist Programmer)- 301216444
//Survey site edit survey
-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<!-- Content for the Add page -->
<main class="flex-fill">
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            
            <div class="p-6 text-center bg-light">
                <h1 class="display-4"><%= title %></h1></div> 
                <!-- Message Area -->
                
                <form class="form" method="POST" onsubmit="mapRadioButtons()">
                <div class="form-group">
                    <label for="nameTextField">Survey Name: <%=survey.surveyName %></label>
                </div>
                <br>

                <% for(let count = 0; count < survey.questions.length; count++) { %>
                    <div class="form-group">
                        <label><%= survey.questions[count].title%> </label><br>
                    <% for(let optionsIndex = 0; optionsIndex < survey.questions[count].options.length; optionsIndex++) { %>
                        <!-- Setting first radio button in each group as checked -->
                        <input type="radio" value="<%= survey.questions[count].options[optionsIndex].title%>" name="answer<%= count%>" <%= optionsIndex == 0 %>>
                         <%= survey.questions[count].options[optionsIndex].title%>
                    <% } %>
                    </div>
                    <br>

                <% } %>
            
                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/home" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
                        <br>

                </form>
                <br>
                <br>
                <br>
                <br>
            
        </div>

    </div>
</div>

</main>

<script>
    document.getElementById("activationDate").onchange = function () {
        let secondDate = document.getElementById("expirationDate")
        secondDate.min = this.value
        if (this.value > secondDate.value) {
            secondDate.value = this.value
        }
    }

    function mapRadioButtons() {
        return false
    }
</script>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
