<!--//Kokila Sangilimuthu (Project Manager)- 301151291  
//Morris Zuniga (Lead Software Engineer)- 822704615  
//Ece Irem Burgaz (Web Designer) - 301162609  
//RahulKumar Jiskeshbhai Makwana (UI Programmer) - 301183901  
//Guillermo Garcia Romero - (Database Programmer) 301130333  
//Orlino Pacioles Jr (Generalist Programmer)- 301216444
//Survey site - add survey
-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="surveyNameTextField">Survey Name</label>
                    <input type="text" class="form-control"
                    id="surveyNameTextField"
                    placeholder="Enter the Survey Name"
                    name="surveysName" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="questionOneTextField">Question 1</label>
                    <input type="text" class="form-control"
                    id="questionOneTextField"
                    placeholder="Enter the Question 1"
                    name="questionOne" required>   
                </div>
               <br>
                <div class="form-group">
                    <label for="questionTwoTextField">Question 2</label>
                    <input type="text" class="form-control"
                    id="questionTwoTextField"
                    placeholder="Enter the Question 2"
                    name="questionTwo" required>
                </div>
                <br>
               <div class="form-group">
                    <label for="questionThreeTextField">Question 3</label>
                    <input type="text" class="form-control"
                    id="questionOneTextField"
                    placeholder="Enter the Question 3"
                    name="questionThree" required>
                    
                </div>
                <br>
               <div class="form-group">
                    <label for="questionFourTextField">Question 4</label>
                    <input type="text" class="form-control"
                    id="questionOneTextField"
                    placeholder="Enter the Question 4"
                    name="questionFour" required> 
                </div>
               <br>
               <div class="form-group">
                    <label for="questionFiveTextField">Question 5</label>
                    <input type="text" class="form-control"
                    id="questionOneTextField"
                    placeholder="Enter the Question 5"
                    name="questionFive" required>
                </div>
                <br>
                <div class="form-group">
                    <label>Activation Date</label>
                    <input type="date" class="form-control"
                    id="activationDate"
                    name="activationDate" 
                    required>
                </div>
                <br>
                <div class="form-group">
                    <label>Expiration Date</label>
                    <input type="date" class="form-control"
                    id="expirationDate"
                    name="expirationDate" 
                    required>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/surveys-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
                        <br>

            </form>
            <br>
            <br>
            <br>
            <br>
        </div>

    </div>
</div>

<script>
    document.getElementById("activationDate").onchange = function () {
        let secondDate = document.getElementById("expirationDate")
        secondDate.min = this.value
        if (this.value > secondDate.value) {
            secondDate.value = this.value
        }
    }
</script>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>