<!--//Kokila Sangilimuthu (Project Manager)- 301151291  
//Morris Zuniga (Lead Software Engineer)- 822704615  
//Ece Irem Burgaz (Web Designer) - 301162609  
//RahulKumar Jiskeshbhai Makwana (UI Programmer) - 301183901  
//Guillermo Garcia Romero - (Database Programmer) 301130333  
//Orlino Pacioles Jr (Generalist Programmer)- 301216444
//Survey site - details survey
-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
<!--TakeSurvey Comoponent-->
<div class="container" id="mainContainer">
  <div id="heading_material">
    <h1><%= SurveysList[count].surveyName %></h1>
  </div>
  <form>
    <!--Populating the page with questions-->
    <div class="card bg-light rounded m-3" >
      <h5 class="card-header">question.title</h5>

      
      <fieldset class="card-body pt-1 pb-1" >
        <div class="pl-3" >
        <input type="radio" name="Agree" id="Agree" 
           <%if(true){%>
             <%="checked"%>
            <%}%> >
            <input type="radio" name="Agree" id="Agree" 
           <%if(true){%>
             <%="checked"%>
            <%}%> >
          
        </div>
      </fieldset>
    </div>


    <div id="button_wrapper">
      <button type="submit" class="btn btn-primary">SUBMIT</button>
      <button type="CANCEL" class="btn btn-primary">CANCEL</button>
      
    </div>

  </form>
</div>
 </main>
  
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  
