<!--//Kokila Sangilimuthu (Project Manager)- 301151291  
//Morris Zuniga (Lead Software Engineer)- 822704615  
//Ece Irem Burgaz (Web Designer) - 301162609  
//RahulKumar Jiskeshbhai Makwana (UI Programmer) - 301183901  
//Guillermo Garcia Romero - (Database Programmer) 301130333  
//Orlino Pacioles Jr (Generalist Programmer)- 301216444
//Survey site edit survey
-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<main class="flex-fill">
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            
                <h1><%= title %></h1>

                <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Survey Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Survey name"
                    name="surveyName" 
                    value="<%= survey.surveyName %>"
                    required>
                </div>
                <br>

                <% for(let count = 0; count < survey.questions.length; count++) { %>

                    <div class="form-group">
                        <label> Question <%= count + 1%> </label>
                        <input type="text" class="form-control"
                        placeholder= "Question <%= count + 1%>"
                        name="questionsTitles" 
                        value="<%= survey.questions[count].title %>"
                        required>
                    </div>
                    <br>

                <% } %>

                <div class="form-group">
                    <label>Activation Date</label>
                    <input type="date" class="form-control"
                    id="activationDate"
                    name="activationDate"
                    required>
                </div>
                <br>
                <div class="form-group">
                    <label>Expiration Date</label>
                    <input type="date" class="form-control"
                    id="expirationDate"
                    name="expirationDate"
                    required>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/surveys-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
                        <br>

                </form>
                <br>
                <br>
                <br>
                <br>
            
        </div>

    </div>
</div>

</main>

<script>
    document.getElementById("activationDate").onchange = function () {
        let secondDate = document.getElementById("expirationDate")
        secondDate.min = this.value
        if (this.value > secondDate.value) {
            secondDate.value = this.value
        }
    }

    let activationDateString = "<%= survey.activationDate  %>";
    let activationDate = new Date(activationDateString)
    document.getElementById('activationDate').valueAsDate = activationDate

    let expirationDateString = "<%= survey.expirationDate  %>";
    let expirationDate = new Date(expirationDateString)
    // Substracting one day, since when we save the expiration date we increase the date by one
    expirationDate.setDate(expirationDate.getDate() - 1)
    document.getElementById('expirationDate').valueAsDate = expirationDate
</script>

<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>