<!--//Kokila Sangilimuthu (Project Manager)- 301151291  
//Morris Zuniga (Lead Software Engineer)- 822704615  
//Ece Irem Burgaz (Web Designer) - 301162609  
//RahulKumar Jiskeshbhai Makwana (UI Programmer) - 301183901  
//Guillermo Garcia Romero - (Database Programmer) 301130333  
//Orlino Pacioles Jr (Generalist Programmer)- 301216444
//Survey site list surveys
-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>


   <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>        
                <a href="/surveys-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Create a Survey</a>
            
            <br>
            <% if(typeof displayName == 'string' && displayName) { %>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    
                        <th class="text-center col-4">Survey Name</th>
                        <th class="text-center col-4"></th>
                        <th class="text-center col-4"></th>
                   
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < SurveysList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-4"><%= SurveysList[count].surveysName %></td>
                        <td class="text-center col-4">
                            <a href="/surveys-list/edit/<%= SurveysList[count]._id %>" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil-alt"></i> Edit</a>
                        </td>
                        <td class="text-center col-4">
                            <a href="/surveys-list/delete/<%= SurveysList[count]._id %>" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    </tr>
                <% } %>
            </table>
            <% }else { %>
            <table class="table table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    
                        <th class="text-center col-2">Survey Name</th>
                        </tr>
                        <!-- Repeatable Template Row -->

                <% for(let count = 0; count < SurveysList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= SurveysList[count].surveysName %></td>
                        </tr>
                         <% } %>
                        </table>
                <% } %>
        </div>
    </div>
    
  </main>
  
  
<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>
  