<!--//Kokila Sangilimuthu (Project Manager)- 301151291  
//Morris Zuniga (Lead Software Engineer)- 822704615  
//Ece Irem Burgaz (Web Designer) - 301162609  
//RahulKumar Jiskeshbhai Makwana (UI Programmer) - 301183901  
//Guillermo Garcia Romero - (Database Programmer) 301130333  
//Orlino Pacioles Jr (Generalist Programmer)- 301216444
//Survey site edit survey
-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the statistics page -->
<main class="flex-fill">
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 class="display-4"><%= title %></h1>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-12">
                        Survey Name: <%= survey.surveyName %>
                    </th>
                </tr>

                <% for(let count = 0; count < survey.questions.length; count++) { %>
                    <tr class="d-flex">
                        <th class="text-left col-12">
                            Question Title: <%= survey.questions[count].title %>
                        </th>
                    </tr>
                    <% for(let optionsIndex = 0; optionsIndex < survey.questions[count].options.length; optionsIndex++) { %>
                        <tr class="d-flex"></tr>
                        <th class="text-left col-12">
                            Option Title: <%= survey.questions[count].options[optionsIndex].title %> 
                            Count: <%= survey.questions[count].options[optionsIndex].count %> 
                        </th>
                        </tr> 
                    <% } %>
                <% } %>
            </table>

            <button class="btn btn-info" onclick="window.print()">Print</button>
            <br>
            <br>
            <br>
            <br>
            
        </div>

    </div>
</div>

</main>


<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>